{% extends "layout.html" %}
{% block stylesheets %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/about.css') }}"
/>
{% endblock stylesheets %} 
{% block content %}
<main>
  <h1>About Zome</h1>
  <p>
    A comprehensive real estate website that serves as a hub for customers to
    meet all their real estate needs. Welcome to Zome, a one-stop solution for
    all your real estate needs. Whether you're looking to buy, sell, our
    platform is designed to make the process easy and convenient for you.
  </p>
</main>
{% endblock content %}
