{% extends "layout.html" %}
{% block content %}
    <main>
      <article class="listing">
        <div class="listing_img_container">
          <img src="{{ url_for('static', filename='{{ listing.image }}') }}" alt="" />
        </div>
        <div class="listing_details">
          <p id="listing_specs-detail"><span></span> For Sale</p>
          <h2 id="listing_title">{{ listing.title }}</h2>
          <h1 id="listing_price">${{ listing.price }}</h1>
          <p class="listing_description">
            {{ listing.description }}
          </p>
          <div class="listing_specs">
            <div class="listing_spec">
              <img src="{{ url_for('static', filename='images/icon_location.png') }}" alt="" />
              <p class="listing_specs-location">
                {{ listing.location }}
              </p>
            </div>
            <div class="listing_spec">
              <img src=" {{ url_for('static', filename='images/icon_bed.png') }}" alt="" />
              <p class="listing_specs-bedrooms"><span>{{ listing.number_rooms }}</span> bedrooms</p>
            </div>
            <div class="listing_spec">
              <img src="{{ url_for('static', filename='images/icon_bath.png') }}" alt="" />
              <p class="listing_specs-bathrooms"><span>{{ listing.number_bathrooms }}</span> bathrooms</p>
            </div>
            <div class="listing_spec">
              <img src="{{ url_for('static', filename='images/icon_space.png') }}" alt="" />
              <p class="listing_specs-size"><span>{{ listing.size }}</span> square metres</p>
            </div>
          </div>
          <a href="mailto:{{ listing.user.email }}" class="listing_contact">Contact Agent</a>
        </div>
      </article>
    </main>
    {% endblock content %}
  </body>
</html>
