{% extends "layout.html" %} {% block stylesheets %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/homepage.css') }}"
/>
{% endblock stylesheets %} {% block content%}
<main>
  <div class="listing_title">
    <h1>LAND LISTINGS</h1>
    <select id="sort-select" name="sorter">
      <option value="">Sort By: Random</option>
      <option value="random">Random</option>
      <option value="price_asc">Price: Low to High</option>
      <option value="price_desc">Price: High to Low</option>
      <option value="size">Size</option>
    </select>
  </div>
  <div class="listing_container">
    {% for listing in land_listings %}
    <article class="listing">
      <div class="listing_image">
        <img
          src="{{ url_for('static', filename='images/listings/' + listing.image) }}"
          alt=""
        />
      </div>
      <div class="price_favorite_flex">
        <h2 class="listing_price">${{listing.price}}</h2>
        <button class="favorite_btn checked"></button>
      </div>
      <a class="listing_link" href="{{ url_for('listings/' + listing.id' }}">
        <p class="listing_title">The King's Villa</p>
      </a>
      <div class="listing_details">
        <p class="listing_details-size"><span>{{ listing.size }}</span> sqm</p>
        <p class="listing_details-detail"><span>Land</span> for Sale</p>
      </div>
      <p class="listing_location">{{ listing.location }}</p>
      <p class="listing_owner">
        <strong>Posted By:</strong><span>{{ listing.user.username }}</span>
      </p>
    </article>
    {% endfor %}
  </div>
</main>
{% endblock content %}
