html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --zome-blue: hsl(199, 100%, 43%);
  --zome-blue-mix: hsl(203, 83%, 32%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --zome-user: hsl(226, 46%, 20%);
  --light-grey: hsl(0, 0%, 86%);
  --lighter-grey: hsl(0, 0%, 90%);
}

body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.5% 1%;
}

a {
  all: unset;
  cursor: pointer;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1%; */
  margin: 1rem 0;
}

header > .logo {
  width: 7%;
  height: 90%;
  min-width: 100px;
}

header > .logo > img {
  max-height: 100%;
}

header > nav > ol {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

header > nav > ol > li {
  display: inline-block;
  font-size: 1.5rem;
  background-color: transparent;
  padding: 3%;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

header > nav > ol > li:hover:not(:last-child) {
  background-color: var(--zome-blue-mix);
  /* border-bottom: 1.2px solid var(--zome-blue); */
  color: var(--white);
  font-weight: bold;
}

header > nav > ol > li > a:focus {
  border-bottom: 1.2px solid var(--zome-blue-mix);
}

nav {
  width: 35%;
}

#profile_sign {
  color: var(--zome-blue-mix);
  display: flex;
}

#profile_sign > img {
  width: 2.4rem;
  height: 2.4rem;
  padding-right: 0.4rem;
}
